* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .montserrat-webdev> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

body {
    background-color: black;
    color: white;
    font-family: "Montserrat";
}

.header {
    font-size: 20px;
    padding-top: 61px;
    margin: auto;
    display: flex;
    width: 1125px;
    gap: 200px;
    font-weight: medium;
    justify-content: space-between;
}

.header p {
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 74px;
    list-style-type: none;
}

.header .location {
    display: flex;
}

.location_icon {
    width: 32px;
}

.location p {
    font-weight: bold;
}

.container-main {
    width: 1125px;
    margin: 0 auto;
    margin-top: 71px;
    display: flex;
}

.container-main .hero h1 {
    width: 200px;
    height: auto;
    font-size: 54px;
    text-transform: uppercase;
}

.container-main .hero h2 {
    margin: 44px 0 20px 0;
    font-size: 30px;
}

.container-main .hero p {
    font-size: 20px;
    width: 379px;
    overflow: wrap;
}

.container-main .main_img {
    width: 800px;
    height: 507px;
}

.main_pic {
    width: 380px;
    height: 398px;
    border-radius: 10px;
}

.pic-1 {
    position: absolute;
    margin-left: 34px;
    margin-top: 109px;
}

.pic-2 {
    margin-bottom: 109px;
}

.btn-order {
    background: none;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
    padding: 0;
    font: 900;
    font-size: 25px;
    margin-top: 85.5px;
    width: 254px;
    height: 64px;
    background: linear-gradient(240deg, #4D00A7, #290059);
    border-radius: 10px;
}

.container-portf {
    width: 1201px;
    display: flex;
    margin: 0 auto;
    margin-top: 48px;
    flex: wrap;
    margin-bottom: 170px;
}

.portf_img {
    width: 380px;
    height: 390px;
}

.text_portf p {
    width: 1202px;
    margin: 0 auto;
    margin-top: 120px;
    font-size: 40px;
    font-weight: bold;
}

.portf_btn {
    width: 380px;
    height: 79px;
    margin: 0 auto;
    margin-bottom: 63px;
    background: none;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
    font: medium;
    font-size: 30px;
    background: #181515;
    border-radius: 10px;
}

.active_btn {
    background-color: #4D00A7;
}

.anon_title {
    width: 1202px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 63px;
}

.container_anot {
    width: 1202px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 170px;
}

.annotation {
    width: 379px;
    font-size: 20px;
    font-weight: 500;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 50%;
    width: 79px;
    height: 79px;
    font-size: 32px;
    font-weight: bold;
}

.container-circle {
    display: flex;
    align-items: center;
    margin-bottom: 84px;
}

.container-circle p{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
}

.container-contacts {
    display: flex;
    justify-content: space-between;
    width: 1202px;
    height: 425px;
    margin: 0 auto;
    margin-bottom: 170px;
}

.container-contacts .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.phone {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
}

.email {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
}

.social {
    font-size: 20px;
    font-weight: 400;
}

.container-contacts .title_contacts{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 83px;
}

.greeting {
    width: 234px;
}

.title_greeting {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.greeting_text {
    font-size: 20px;
    font-weight: 400;
}

.autor_img img {
    border-radius: 10px;
    width: 279px;
    height: 419px;
}


footer {
    display: flex;
    width: 1202px;
    margin: 0 auto;
    gap: 255px;
    margin-bottom: 89px;
}

footer .name_footer {
    font-size: 20px;
    font-weight: bold;
}

footer .initals {
    font-size: 15px;
    font-weight: 500;
}


